h1= pageTitle
p Welcome to #{pageTitle}

- if (tweets.length)
  - each val,key in tweets
    ul
      li Sent at: #{val.created_at}
      li From user: #{val.from_user}
      li Text: #{val.text}
      
p
a(href='http://www.ewanleith.com') Created by Ewan Leith
